<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.cohere.welcomemessage</string>
        <key>ProgramArguments</key>
        <array>
                <string>/bin/sh</string>
                <string>/usr/local/bin/welcome</string>
        </array>
        <key>KeepAlive</key>
        <false/>
        <key>StartInterval</key>
        <integer>900</integer>
        <key>StandardErrorPath</key>
        <string>/tmp/cohere_welcome_message.err</string>
        <key>StandardOutPath</key>
        <string>/tmp/cohere_welcome_message.out</string>
</dict>
</plist>